<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <img id="image" src='http://localhost:6001/images/logo.png' />

  <script>
    var img = document.getElementById("image")
    img.src = "http://localhost:6001/qrcode/北京/天津/河北";
  </script>
</body>

</html>